.upperfoot{
    height: 300px;
    width: auto;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    background-color: #c2f8ff;
    white-space: nowrap;
}

h2{
    text-align: center;
    font-size: 35px;
}
.email{
    position: absolute;
    width: 500px;
    height: 300px;
    margin: 50px;
}
h3{
    left: 150px;
    top: 50px;
    position: absolute;
}
.fewclass{
    right: 100px;
    top: 50px;
    width: 100%;
    position: relative;
}
.copyright{
    text-align: center;
    color: white;
}


@media (max-width: 350px){

    h2{
        text-align: center;
        font-family: 'PT Serif', serif;
        font-size: 15px;
    }
    
    .upperfoot{
        height: 150px;
        width: auto;
        font-family: 'PT Serif', serif;
        font-size: 15px;
        background-color: #c2f8ff;
        white-space: nowrap;
        text-align: center;
    }
    
    .fewclass{
        top: 0px;
        width: 150%;
        font-size: 8px;
        text-align: center;
        position: absolute;
        margin-right: 60%;
    }
    .copyright{
        text-align: center;
        color: white;
    }
    .email{
        position: absolute;
        width: 500px;
        height: 300px;
        margin: 50px;
        display: none;
    }
    h3{
        left: 150px;
        top: 50px;
        position: absolute;
        display: none;
    }
}

@media (min-width: 350px) and (max-width: 500px){
    h2{
        text-align: center;
        font-family: 'PT Serif', serif;
        font-size: 20px;
    }
    
    .upperfoot{
        height: 150px;
        width: auto;
        font-family: 'PT Serif', serif;
        font-size: 15px;
        background-color: #c2f8ff;
        white-space: nowrap;
        text-align: center;
    }
    
    .fewclass{
        top: 0px;
        width: 150%;
        font-size: 8px;
        text-align: center;
        position: absolute;
        margin-right: 60%;
    }
    .copyright{
        text-align: center;
        color: white;
    }
    .email{
        position: absolute;
        width: 500px;
        height: 300px;
        margin: 50px;
        display: none;
    }
    h3{
        left: 150px;
        top: 50px;
        position: absolute;
        display: none;
    }
}