.imageone{
    margin: 5px;
}

@media (max-width: 350px){
    .weoffer{
        font-size: 15px;
        margin: 15%;
    }
}

@media (min-width: 350px) and (max-width: 500px){
    .weoffer{
        font-size: 20px;
        margin: 15%;
    }
}

@media (min-width: 500px) and (max-width: 800px){
    .weoffer{
        font-size: 30px;
        margin: 15%;
    }
}

